# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Builds de producción
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store

# Vite
*.local

# Wallet
sistema-web/servidor/wallet/
.env
Wallet_*.zip

*.zone.identifier
*Zone.Identifier*