@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-fondo: #1F1F24;
  --color-boton: #3D1D53;
  --color-linea: #B188CE;
}