@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-brand: #3D1D53;
  --color-brand-hover: #7b48a0;

  --color-brand-soft: #B188CE;
  --color-brand-soft-hover: #c7b1d8;


  --color-background: #1F1F24;
  --color-surface: #141418;
  --color-surface-clear: #FFFFFF;
  --color-navbar: #000000;
  --color-footer: #000000;


  --color-text-color: #FFFFFF;
  --color-text-muted: #565669;


  --color-border: #565669;


  --color-success: #34B35B;
  --color-success-hover: #72c88c;

  --color-danger: #FF383C;
  --color-danger-hover: #f18284;

  --color-warning: #F38E30;
  --color-warning-hover: #e9b07c;
}