@import "tailwindcss";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme {
  --color-brand: #3D1D53;
  --color-brand-soft: #B188CE;
  --color-brand-hover: #B188CE;


  --color-background: #1F1F24;
  --color-surface: #141418;
  --color-navbar: #000000;
  --color-footer: #000000;


  --color-text-color: #FFFFFF;
  --color-text-muted: #565669;


  --color-border: #565669;


  --color-success: #34B35B;
  --color-danger: #FF383C;
  --color-warning: #F38E30;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-surface) inset !important;
  -webkit-text-fill-color: var(--color-text-muted) !important;
  caret-color: var(--color-text-muted);
}